{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if artist.banner %}
    <div class="introduction">
        <img src="{{ artist.banner.url }}" alt="" class="col-lg-12 col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12"/>
    </div>
    {% else %}
    <div class="introduction">
        <img src="#" alt="" class="col-lg-12 col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12"/>
    </div>
    {% endif %}








    <div class="container-fluid mt-lg-4">

        <div class="container" style="height: 100%;max-width: 1195px">

            <div class="row" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="2000">


                <div class="col-lg-6 mt-lg-4 float-lg-end pe-lg-4 text-lg-end col-12 m-auto text-center text-white"
                     style="font-size: 22px;font-family: Sahel-Bold">ویدئو های تازه
                </div>

                <div class="col-lg-6 mt-lg-4 float-lg-start ps-lg-4 text-lg-start pt-lg-2 d-lg-block d-none d-sm-none d-md-none text-white"
                     style="font-size: 16px;font-family: Sahel-Bold">

                </div>

                {% for video in videos %}
                <div class="box-video">

                    <video src="{{ video.file.url }}" width="100%" controls style="border-radius: 15px"></video>

                </div>
                {% endfor %}



            </div>

        </div>

    </div>







    <div class="container mt-lg-5 d-lg-block d-none d-sm-none d-md-none"
         style="max-width: 1195px;height: 2px;background-color: gray"></div>







    <div class="container-fluid mt-lg-4 mt-4">

        <div class="container" style="max-width: 1195px">

            <div class="row" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="2000">


                <div class="col-lg-6 mt-lg-4 float-lg-end pe-lg-4 text-lg-end col-12 m-auto text-center text-white"
                     style="font-size: 22px;font-family: Sahel-Bold">سینگل ترک ها
                </div>

                <div class="col-lg-6 mt-lg-4 float-lg-start ps-lg-4 text-lg-start pt-lg-1 d-lg-block d-none d-sm-none d-md-none text-white"
                     style="font-size: 16px;font-family: Sahel-Bold">

                </div>

                {% for track in single_tracks %}
                <div class="box-music mt-lg-3" style="background-color: #555555">

                    <audio src="{{track.quality_320.url}}" id="audio"></audio>

                    <div class="box-download-play pt-lg-4 pb-lg-4">

                        <div class="download">

                            <a href="{% url "Tracks:track_detail" track.slug %}">
                                <img src="{% static "img/download.svg" %}" alt="" class="col-lg-10 col-5 col-sm-9"
                                     style="margin-top: -5px"/>
                            </a>

                        </div>



                    </div>


                    <div class="box-matn-music">

                        <div class="matn-onvan-music">{{ track.farsi_name }}</div>

                        <div class="matn-music">{{ track.artist.first.farsi_name}}</div>

                    </div>


                    <div class="box-ax-music me-lg-2 me-2">

                        <img src="{{ track.cover.url }}" alt="" class="col-lg-12 col-12 col-sm-12" style="border-radius: 10px;"/>

                    </div>


                </div>
                {% endfor %}



                <div class="col-12 m-auto mt-4 text-center d-lg-none d-block d-md-block d-sm-block"
                     style="font-size: 16px;font-family: Sahel-Bold">
                    <a href="#" class="text-decoration-none" style="color: red"></a>
                </div>


            </div>

        </div>

    </div>






    <div class="container mt-lg-5 d-lg-block d-none d-sm-none d-md-none"
         style="max-width: 1195px;height: 2px;background-color: gray"></div>





    <div class="container-fluid mt-lg-5 mt-md-4 mt-sm-4 mt-4">

    <div class="container" style="background-color: transparent;height: 100%;max-width: 1195px">

        <div class="row">

            <div class="col-lg-6 float-lg-end pe-lg-4 text-lg-end col-12 m-auto text-center text-white" style="font-size: 22px;font-family: Sahel-Bold">آلبوم ها</div>

            <div class="col-lg-6 float-lg-start ps-lg-4 text-lg-start pt-lg-1 d-lg-block d-none d-sm-none d-md-none text-white" style="font-size: 16px;font-family: Sahel-Bold">
                <a href="#" class="text-decoration-none" style="color: red"></a>
            </div>

        </div>



        <div class="row mt-lg-4 mt-md-4 mt-4 mt-sm-4" data-aos="flip-up" data-aos-delay="200" data-aos-duration="2000">

            {% for album in albums %}
            <div class="col-lg-2 float-lg-end col-6 float-end col-sm-4 float-sm-end col-md-3 float-md-end">

                <a href="{% url "Tracks:album_detail" album.slug %}" class="text-decoration-none text-white">

                    <div class="col-lg-12 m-lg-auto mt-lg-2 col-12 m-auto mt-2 col-sm-12 m-sm-auto mt-sm-2 col-md-12 m-md-auto mt-md-2 shadow-box" style="padding-top: 0.5px;padding-bottom: 0.5px;border-radius: 20px;background-color: #555555">

                        <div class="col-lg-10 m-lg-auto mt-lg-3 col-10 m-auto mt-3 col-sm-10 m-sm-auto mt-sm-3 col-md-10 m-md-auto mt-md-3" style="border-radius: 15px;">
                            <img src="{{album.image.url}}" alt="" class="col-lg-12 col-12 col-sm-12 col-md-12" style="border-radius: 15px;"/>
                        </div>

                        <div class="col-lg-12 m-lg-auto mt-lg-3 text-lg-center col-12 m-auto mt-3 mb-3 text-center col-sm-12 m-sm-auto mt-sm-3 mb-sm-3 text-sm-center col-md-12 m-md-auto mt-md-3 mb-md-3 text-md-center text-white" style="font-size: 16px;font-family: Sahel-Bold">
                            {{ album.farsi_name}}</div>

                        <div class="col-lg-12 m-lg-auto mt-lg-2 mb-lg-3 text-lg-center col-12 m-auto mt-3 mb-3 text-center col-sm-12 m-sm-auto mt-sm-3 mb-sm-3 text-sm-center col-md-12 m-md-auto mt-md-3 mb-md-3 text-md-center text-white" style="font-size: 14px;font-family: Sahel-Bold">
                            {{ album.artist.first.farsi_name }}</div>

                    </div>

                </a>

            </div>
            {% endfor %}

            <div class="col-12 m-auto mt-4 text-center d-lg-none d-block d-md-block d-sm-block" style="font-size: 16px;font-family: Sahel-Bold">
                <a href="#" class="text-decoration-none" style="color: red"></a>
            </div>


        </div>



    </div>

</div>

{% endblock %}
