{% load static %}

<div class="container-fluid mt-lg-5 mt-4" style="background-color: #555555">

        <div class="container" style="height: 100%;max-width: 1195px;background-color: #555555">

            <div class="row">

                <div class="col-lg-6 float-lg-end mt-lg-3 mb-lg-3 mt-lg-0 col-12 m-auto mt-5 col-sm-12 m-sm-auto mt-sm-5 col-md-12 float-md-end mt-md-5">

                    <div class="col-lg-12 text-white m-lg-auto text-lg-end col-12 m-auto text-center col-sm-12 m-sm-auto text-sm-center col-md-12 m-md-auto text-md-center" style="font-size: 24px;font-family: Sahel-Bold">درباره ما</div>

                    <div class="col-lg-12 text-white m-lg-auto mt-lg-3 text-lg-end col-12 m-auto mt-3 col-sm-12 m-sm-auto mt-sm-3 text-sm-center col-md-12 m-md-auto mt-md-4 text-md-centere" style="font-size: 16px;font-family: Yekan">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم  طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</div>

                </div>

                <div class="col-lg-2 float-lg-end mt-lg-3 mb-lg-3 col-6 m-auto mt-5 col-sm-6 m-sm-auto mt-sm-5 col-md-4 float-md-end mt-md-5">

                    <div class="col-lg-11 text-white m-lg-auto mt-lg-1 text-lg-center col-12 m-auto text-center col-sm-12 m-sm-auto col-md-12 m-md-auto text-md-center" style="font-size: 19px;font-family: Sahel-Bold">تماس با ما</div>

                    <div class="box-icon pe-lg-2">

                        <a href="#">

                            <div class="icon">
                                <img src="{% static "img/instagram.svg" %}" alt="" class="icon2"/>
                            </div>

                            <div class="matn-icon">HearoBeat.ir</div>

                        </a>

                    </div>

                    <div class="box-icon pe-lg-2">

                       <a href="#">

                           <div class="icon">
                               <img src="{% static "img/towiter.svg" %}" alt="" class="icon2"/>
                           </div>

                           <div class="matn-icon">HearoBeat.ir</div>

                       </a>

                    </div>

                    <div class="box-icon pe-lg-2">

                        <a href="#">

                            <div class="icon">
                                <img src="{% static "img/linkdin.svg" %}" alt="" class="icon2"/>
                            </div>

                            <div class="matn-icon">HearoBeat.ir</div>

                        </a>

                    </div>

                    <div class="box-icon pe-lg-2">

                        <a href="#">

                            <div class="icon">
                                <img src="{% static "img/telegram.svg" %}" alt="" class="icon2"/>
                            </div>

                            <div class="matn-icon">HearoBeat.ir</div>

                        </a>

                    </div>


                </div>


                <div class="col-lg-2 float-lg-end mt-lg-3 mb-lg-3 col-6 m-auto mt-5 col-sm-6 m-sm-auto mt-sm-5 col-md-4 float-md-end mt-md-5">

                    <div class="col-lg-12 m-lg-auto mt-lg-1 text-lg-center col-12 m-auto col-sm-12 m-sm-auto col-md-12 m-md-auto text-md-center" style="font-size: 19px;font-family: Sahel-Bold;padding: 15px 0"></div>


                    <div class="box-icon">

                        <a href="#">
                            <div class="icon">
                                <img src="{% static "img/telephone.svg" %}" alt="" class="icon2"/>
                            </div>

                            <div class="matn-icon">021-2258795</div>
                        </a>

                    </div>


                </div>

                <div class="col-lg-2 float-lg-end mt-lg-3 mb-lg-3 col-12 m-auto mt-5 col-sm-12 m-sm-auto mt-sm-5 col-md-4 float-md-end mt-md-5">

                    <img src="{% static "img/NamadElecteronic.svg" %}" alt="" class="col-lg-12 d-lg-block m-lg-auto col-3 d-block m-auto col-sm-2 d-sm-block m-sm-auto col-md-8"/>

                </div>

            </div>

        </div>

    </div>