{% load static %}

<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HeroBeat</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/Logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
</head>